.mobileSpace {
  display: none;
}

@media only screen and (max-width: 768px) {

  .mobileSpace {
    display: block;
    height: 45px;
    width: 100vw;
    background: white;
  }

  .spaceContainer {
    height: calc( 100vh + 45px );
  }

}
