.Burger {
  width: 2vw;
  height: 2vw;
  position: relative;
  transition: transform 1s cubic-bezier(.46,.06,.28,.99);
  transform: translateX(0vw);
  margin-top: 21px;
  margin-left: 10px;
  display: none;
}

.Burger span {
  background: #707070;
  width: 30px;
  height: 5px;
  margin-top: 5px;
  border-radius: 30px;
  display: block;
  transition: all 1s cubic-bezier(.46,.06,.28,.99);
  transform: translateZ();
  position: relative;
  top: 0;
  transform-origin: 50% 50%;
}

.Burger span:nth-child(2) {
  transform: translateX(7px);
  opacity: 1;
}

.Burger:hover span:nth-child(2) {
  transform: translateX(11px) !important;
}

.Burger:not(.active):hover span:nth-child(1), .Burger:not(.active):hover span:nth-child(3) {
  transform: translateX(-4px) !important;
}

.Burger.active:hover span:nth-child(1), .Burger.active:hover span:nth-child(3) {
  transform-origin: 50% 50%;
}

.Burger.active > span {
  height: calc(.45 * 5px);
  margin-top: 0;
}

.Burger.active > span:nth-child(2) {
  opacity: 0;
}

.Burger.active > span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  margin-top: 15px !important;
}

.Burger.active > span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}


@media only screen and (max-width: 768px) {
  .Burger {
    display: block;
  }
}
