a {
  text-decoration: none;
}

.childrenContent {
  font-size: 1.15em;
}

#carousel {
  width: 100%;
}

#carousel .inner {
  display: flex;
  flex-direction: row;
  transition: transform 1s cubic-bezier(.46,.06,.28,.99);
  justify-content: center;
  align-items: center;
}

#carousel #project {
  flex: 1;
  -webkit-font-smoothing: antialiased;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  color: #707070;
}

#carousel #project h1 {
  font-weight: 400;
  border-bottom: 3px dashed #707070;
  padding: 20px;
  width: 45%;
}

#carousel .leftArrow {
  position: absolute;
  left: 0;
}

#carousel .rightArrow {
  position: absolute;
  right: 0;
}

#carousel .rightArrow, #carousel .leftArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  z-index: 2;
  position: absolute;
  top: 25%;
}

#carousel .leftArrow img, #carousel .rightArrow img {
  width: 30%;
  transition: width 0.2s cubic-bezier(.46, .06, .28, .99), transform 0.2s cubic-bezier(.46, .06, .28, .99);
}

#carousel .leftArrow:hover img, #carousel .rightArrow:hover img {
  width: 35%;
}

#carousel .rightArrow:hover img {
  transform: translateX(-5px);
}

#carousel .leftArrow:hover img {
  transform: translateX(5px);
}

#carousel #project .projectInner {
  width: 60%;
}

#carousel #project img {
  width: 100%;
}

#carousel #project .rotatingImage {
  transform-style: preserve-3d;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 0;
}

#carousel #project .shadow {
  margin-top: 7%;
  height: 20px;
  width: 78%;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
}

@keyframes hover {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

.projectContent {
  display: flex;
}

.projectContent .imageLink {
  flex: 4;
  padding: 10%;
  perspective: 80em;
}

.projectContent .stack {
  flex: 1
}

#carousel #project .projectInner .stack h3 {
  border-bottom: 3px solid #707070;
  width: 60%;
  padding-bottom: 12px;
}
