.headerContainer {
  width: 25vw;
  height: 25vw;
  max-width: 300px;
  max-height: 300px;
  z-index: -3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-inner {
  width: 95%;
  height: 95%;
  border-radius: 500px;
  border: 6px solid #707070;
  border-style: dotted;
  animation: headerAnimation 36s ease-in-out infinite;
}

.headerbar1, .headerbar2, .headerbar3 {
  position: absolute;
  width: 33%;
  height: 6px;
  border-radius: 20px;
  background: #707070;
}

.headerbar1 {
  animation: headerAnimation 24s ease-in-out infinite;
}

.headerbar2 {
  animation: headerAnimation 24s ease-in-out infinite;
  animation-delay: 1s;
}

.headerbar3 {
  animation: headerAnimation 24s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes headerAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
