.hoverComponent {
  animation: sectionHover 10s ease-in-out infinite;
  margin-top: 75px;
}

.aboutPage {
  background: white;
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-75px) rotate(5deg);
  }
  50% {
    transform: translateY(0px) rotate(10deg);
  }
  75% {
    transform: translateY(-75px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
