.frontpage_background {
  z-index: -1;
  position: relative;
  transform: translateY(-13vh);
  overflow-x: hidden !important;
  display: block;
  background: linear-gradient(225deg, #23f0bb, #a623f0, #d0f023, #f09a23, #f05223);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 43s ease infinite;
  -moz-animation: AnimationName 43s ease infinite;
  animation: AnimationName 43s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}
@keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}
}

@media only screen and (max-width: 768px) {

  .frontpage_background {
    position: absolute;
    transform: translateY(0vh);
    top: 0;
  }

}
